@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap");

:root {
    --orange: #ff4400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Raleway", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.list-none {
    list-style: none;
}

/** MAIN MENU **/

.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}

.main-header h1 {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.main-header nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.main-header nav a {
    color: #000;
    transition: .5s;
    cursor: pointer;
}

.main-header nav a:hover {
    color: var(--orange);
}

.main-header nav a.active {
    font-weight: 700;
    color: var(--orange);
}

.home main .banner {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(255, 35, 0, .2) 100%), url('../img/jane.jpg');
    background-size: cover;
    height: 45rem;
    width: 100%;
    background-position: center;
}

.home main section {
    margin: 3rem 0;
    padding: 0 10%;
}

.home main section article h2 {
    margin-bottom: 2rem;
}


.home main section article p {
    margin-bottom: 1rem;
    text-align: justify;
}

.home main section article p:last-child {
    margin: 0;
}

.home main section article.musics-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    margin-top: 2rem;
}

.home main section article.musics-wrapper .image {
    width: 50%;
    background-image: url('../img/ilustra.png');
    background-size: cover;
    height: 100%;
}

.home main section article.musics-wrapper .musics ol li strong {
    color: orange;
}

.about main,
.music main {
    padding-top: 7rem;
    padding-left: 10%;
    padding-right: 10%;
    margin: 3rem 0;
}

.about main h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}

.about main section blockquote {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 0 5%;
}

.about main section blockquote q {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: justify;
    margin-bottom: .5rem;
}

.about main section blockquote cite {
    font-size: 0.8rem;
    text-align: center;
}

.about main section .image {
    width: 30rem;
    height: 20rem;
    background-image: url('../img/jane2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.music main h2 {
    margin-bottom: 2rem;
}

.music main section .videos-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.music main section .videos-wrapper article {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.music main section .videos-wrapper iframe {
    width: 100%;
}

.music main section .videos-wrapper ul li {
    margin-bottom: 1rem;
    font-weight: 300;
}

.main-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: #ddd;
    color: #333;
    font-size: 0.8rem;

}

@media screen and (max-width: 700px) {
    .home main section article.musics-wrapper {
        flex-direction: column;
    }

    .home main section article.musics-wrapper .image {
        width: 100%;
        margin-bottom: 1rem;
    }

    .about main section .image {
        width: 100%;
        height: 15rem;
        background-image: url('../img/jane2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
    }

    .music main section .videos-wrapper {
        flex-direction: column;
    }

    .music main section .videos-wrapper article {
        width: 100%;
        border-bottom: 1px solid #aaa;
        padding-bottom: 1rem;
    }

    .music main section .videos-wrapper article:last-child {
        border: 0;
    }
}